<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>메인화면</title>
    <!-- Custom style -->
    <link rel="stylesheet" href="../css/indexes.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body id = "main">
    <div class="body">
        <input type = "button" id = "member_mode" name = "member_mode" class="btn btn-primary btn-lg" value = "회원모드"><br/>
        <input type = "button" id = "alien_mode" name = "alien_mode" class="btn btn-primary btn-lg" value = "비회원모드"><br/>
        <input type = "button" id = "login" name = "login" class="btn btn-primary btn-lg" value = "로그인"><br/>
        <input type = "button" id = "join" name = "join" class="btn btn-primary btn-lg" value = "회원가입"><br/>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src = "../js/index.js"></script>
  </body>
</html>